<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pandy.dao.mapper.SentEmailQueueMapper">
    <resultMap type="com.pandy.model.SentEmailQueue" id="sentEmailQueueMap">
        <id column="data_id" property="dataId"/>
        <result column="from_email" property="fromEmail"/>
        <result column="to_email" property="toEmail"/>
        <result column="to_user_id" property="toUserId"/>
        <result column="send_date_time" property="sendDateTime"/>
        <result column="invalid_date_time" property="invalidDateTime"/>
        <result column="email_type" property="emailType"/>
        <result column="email_data_id" property="emailDataId"/>
        <result column="subject" property="subject"/>
        <result column="template_name" property="templateName"/>
        <result column="content_params" property="contentParams"/>
        <result column="sent_status" property="sentStatus"/>
        <result column="actual_sent_date_time" property="actualSentDateTime"/>
        <result column="CREATED_TIME" property="createdTime"/>
        <result column="MODIFIED_TIME" property="modifiedTime"/>
        <result column="LAST_UPDATED_STAMP" property="lastUpdatedStamp"/>
        <result column="LAST_UPDATED_TX_STAMP" property="lastUpdatedTxStamp"/>
        <result column="CREATED_STAMP" property="createdStamp"/>
        <result column="CREATED_TX_STAMP" property="createdTxStamp"/>
    </resultMap>

    <!--  一种映射方式，注意as后面的名字要跟model的属性名字一样 -->
    <select id="get" parameterType="int" resultType="com.pandy.model.SentEmailQueue">
        SELECT data_id as dataId, from_email as fromEmail, to_email as toEmail, to_user_id as toUserId, send_date_time as sendDateTime, invalid_date_time as invalidDateTime, email_type as emailType, email_data_id as emailDataId,
        subject as subject, template_name as templateName, content_params as contentParams, sent_status as sentStatus,
        actual_sent_date_time as actualSentDateTime,
        CREATED_TIME as createdTime,
        MODIFIED_TIME as modifiedTime,
        LAST_UPDATED_STAMP as lastUpdatedStamp,
        LAST_UPDATED_TX_STAMP as lastUpdatedTxStamp,
        CREATED_STAMP as createdStamp,
        CREATED_TX_STAMP as createdTxStamp
        FROM send_email_queue1 where data_id = #{data_id}
    </select>

    <!--  另一种映射方式，直接映射到model的类 -->
    <select id="getAll" resultMap="sentEmailQueueMap">
        SELECT data_id, from_email, to_email, to_user_id, send_date_time, invalid_date_time, email_type, email_data_id, subject, template_name, content_params, sent_status, actual_sent_date_time, CREATED_TIME, MODIFIED_TIME, LAST_UPDATED_STAMP, LAST_UPDATED_TX_STAMP, CREATED_STAMP, CREATED_TX_STAMP FROM send_email_queue1
    </select>



    <insert id="insert" parameterType="com.pandy.model.SentEmailQueue" useGeneratedKeys="true" keyProperty="dataId">
        INSERT INTO send_email_queue1 (from_email, to_email)
        VALUES (#{toEmail}, #{toEmail})
    </insert>
    <update id="update" parameterType="com.pandy.model.SentEmailQueue">
        UPDATE send_email_queue1 SET  from_email = #{toEmail}, to_email = #{toEmail}
        WHERE data_id = #{dataId}

    </update>
    <delete id="delete" parameterType="int">
        delete from send_email_queue1 where data_id = #{dataId}
    </delete>

</mapper>